<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-feature android:name="android.hardware.camera.any" android:required="false"/>
  <!-- Neither live nor offline photograph processing requires internet. -->
  <application android:label="Меті Туман MAX"
      android:icon="@drawable/ic_launcher" android:allowBackup="false"
      android:usesCleartextTraffic="false"
      android:theme="@android:style/Theme.Material.NoActionBar">
    <activity android:name=".PhotoActivity"
        android:screenOrientation="unspecified" android:exported="false"/>
    <activity android:name=".MainActivity"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:screenOrientation="landscape" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>